/.vscode
/a.js
/array.html
/cdnjs
/display.html
/fintech1.html
/fintechassighn3.css
/fintechassighn3.html
/fintechassign.html
/fintechassign2.css
/fintechassign2.html
/font-awesome.min.css
/h1.html
/hm.html
/index1.html
/list.html
/menu.css
/menu.html
/menu1.css
/menu1.html
/menu1.js
/min.html
/minakshiroy.jfif
/mini.png
/mm.jfif
/no dues.pdf
/practice.html
/style.css
/table.html
/task.html
/web.css
/web.html
/web1.css
/web1.html
/web10.css
/web10.html
/web11.css
/web11.html
/web13.css
/web13.html
/web16.css
/web16.html
/web2.css
/web2.html
/web3.css
/web3.html
/web4.css
/web4.html
/web5.css
/web5.html
/web6.css
/web6.html
/web7.html
/web8.css
/web8.html
/web9.css
/web9.html
/xyz.png